{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>

<body>
    <h1>Movie page</h1>
    {% for movie in object_list %}
    <img src="{{movie.image.url}}" width="200">
    <h3>{{movie.title}}</h3>
    <time>{{movie.year}}</time>
    <h5>{{movie.genre}}</h5>
    <h5>Minimum age: {{movie.age_restriction}}</h5>
    <h5>Duration: {{movie.duration}}</h5>
    <h5>{{movie.director}}</h5>
    <h5>{{movie.cast}}</h5>
    <p>{{movie.description}}</p>
    <hr>
    {% endfor %}
</body>

</html>